<h3>Welcome!</h3>
<h5>This is your Travel Journal!</h5>
<p>Keep track of all your favorite places here. Where did you last go on vacation? Where did you go to college? Where did you grow up?</p>
<p>See what the weather is like right now in any of them!</p>
