/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

 body .container .menu, #banner, #main{
  font-family: Verdana, Geneva, sans-serif;
 }

.list_image {
  height: 300px;
  max-width: 400px;
}
.menu {
  float: right;
  margin-right: 20px;
  margin-top: 10px;
}
#main {
  float: left;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
}
#banner {
  margin: 20px;
}
/*buttons*/

.animate
{
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
}

.action-button
{
  position: relative;
  padding: 10px 40px;
  margin: 0px 10px 10px 0px;
  border-radius: 10px;
  font-size: 25px;
  color: #FFF;
  text-decoration: none;  
  &:visited {
    color: #FFF;
  }
}

.blue
{
  background-color: #3498DB;
  text-shadow: 0px -2px #2980B9;
  &:hover
  {
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
  }
}

.red
{
  background-color: #E74C3C;
  text-shadow: 0px -2px #BD3E31;
}

.green
{
  background-color: #82BF56;
  text-shadow: 0px -2px #669644;
}

.yellow
{
  background-color: #F2CF66;
  text-shadow: 0px -2px #D1B358;
}

.action-button:active
{
  transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
  border-bottom: 1px solid;
}

.buttons {
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 50px;
  margin-top: 20px;
}

/*TILE*/

.place 
{
  background-color: rgba(52, 152, 219, .3);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 20px;
  margin-bottom: 50px;

  p {
    margin-top: 10px;
    max-width: 700px;
  }

  &:hover
  {
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
  }
  h3 {
    margin-bottom: 20px;
    height: 40px;
  }
}

/*welcome text*/

.welcome {
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 50px;
  h3 {
    margin-top: 0px;
    margin-bottom: 20px;
  }
}

#form_header {
  margin-bottom: 20px;
}
